/*
  @package sunsettheme
*/
/*
	Imports
	------------------------------------------------
*/
@import "base/variables";
@import "base/mixins";
@import "base/fonticon";
@import "base/placeholders";

/*
  Generic
  ----------------------
*/
body {
  font-family: $body-font;
}
.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: $primary-color;
  @include animate(color, 320ms);
  &:hover,
  &:focus {
    text-decoration: none;
    color: $light-grey;
  }
}
.table {
  display: table;
  width: 100%;
  height: 100%;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
/*
  Header
  ----------------------
*/
.header-container {
  position: relative;
  height: 326px;
  @extend %text-shadow;
}
.site-title {
  margin: 0;
  color: #fff;
  font-size: 80px;
}
.site-description {
  margin-top: 1em;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
.nav-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
  Navbar
  ----------------------
*/
.navbar-sunset {
  margin: 0;
  min-height: auto;
  border: none;
  border-radius: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &.navbar-default {
    ul {
      float: none;
    }
    li {
      float: none;
      display: inline-block;
      &.active {
        a {
          opacity: 1;
          background-color: transparent;

          &:after {
            opacity: 1;
            @include transform(translateY(0));
          }
          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #fff;
            background-color: transparent;
          }
        }
      }
      &.open {
        a {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.7);

          &:after {
            display: none;
            opacity: 0;
            @include transform(translateY(10px));
          }
          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #fff;
            background-color: transparent;
            opacity: 1;

            &:after {
              opacity: 1;
              background-color: transparent;
              @include transform(translateY(0));
            }
          }
        }
      }
      a {
        position: relative;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0.7;
        letter-spacing: 0.05em;
        background-color: transparent;
        @include animate(opacity, 320ms);

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #fff;
          background-color: transparent;
          opacity: 1;

          &:after {
            opacity: 1;
            @include transform(translateY(0));
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 12px;
          height: 2px;
          background-color: #fff;
          opacity: 0;
          @include animate(all, 320ms);
          @include transform(translateY(10px));

        }
      }
    }
    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.7);
      > li {
        > a {
          color: #fff;
          opacity: 1;
          background-color: transparent;
        }
      }
    }
  }
}


/*
  Standard post
  ----------------------
*/
article {
  padding-bottom: 40px;
  padding-top: 40px;
  &:first-child {
    padding-top: 80px;
  }
}
h1 {
  font-size: 48px;
  font-weight: 200;

  a {
    color: $primary-color;
  }
  &.entry-title {
    padding: 0;
    line-height: 1.5em;

    &:before,
    &:after {
      content: '~';
      display: inline-block;
      position: relative;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
}

.entry-meta {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  color: $light-grey;

  a {
    font-weight: 400;
    color: inherit;
    &:hover,
    &:focus {
      color: $dark-grey;
    }
  }
}
.standard-featured-link {
  display: block;
  position: relative;
  &:hover,
  &:focus {
    .standard-featured {
      &:after {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
.standard-featured {
  height: 330px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .35);
    @include animate(background-color, 320ms);
  }
}

.entry-excerpt {
  margin: 30px 0 16px;

  p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: .02em;
  }
}

.button-container {
  margin-bottom: 30px;
}
.btn-sunset {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 0;
  background-color: transparent;
  @include animate(all, 320ms);

  &:hover,
  &:focus {
    color: #fff;
    border-color: $dark-grey;
    background-color: $dark-grey;

  }
}

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid $lighter-grey;
  color: $light-grey;
  text-transform: uppercase;

  a {
    display: inline-block;
    padding: 0 4px;
    color: inherit;
    font-size: 12px;
    &:hover,
    &:focus {
      color: $dark-grey;
    }
  }

  .tags-list {
    a {
      padding: 0 4px;
    }
    .sunset-icon {
      margin-right: 10px;
    }
  }
  .comments-link {
    .sunset-icon {
      margin-left: 10px;
    }
  }
}

/*
  Image post format
  ----------------------
*/
.sunset-format-image {
  .entry-header {
    height: 550px;
    position: relative;
  }


  h1,
  .entry-meta,
  .entry-header {
    color: #fff;
    @extend %text-shadow;
    a {
      color: inherit;
    }
  }

  h1 {
    padding-top: 20px;
  }
  }

  .entry-excerpt {
    &.image-caption {
      position: absolute;
      margin: 0;
      // top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      @extend %background-gradient;
      p {
        margin: 40px 0;
        font-size: 14px;
      }
    }
}

/*
  Audio post format
  ----------------------
*/
.sunset-format-audio {
  h1 {
    font-size: 30px;
    &.entry-title {
      display: inline-block;
      margin-right: 20px;

      &:before,
      &:after {
        display: none;
      }
    }
  }
  .entry-meta {
    display: inline-block;
    margin-bottom: 0;
  }
  .entry-content {
    iframe {
      width: 100%;
      height: 166px;
    }
  }
}

/*
  Video post format
  ----------------------
*/
.sunset-format-video {
  header {
    h1 {
      &.entry-title {
        margin-top: 20px;
      }
    }
  }
}

/*
  Gallery post format
  ----------------------
*/
.sunset-format-gallery {
  header {
    position: relative;
    h1 {
      &.entry-title {
        margin-top: 20px;
      }
    }
  }
  .standard-featured {
    height: 500px;
    &:after {
      background-color: transparent;
    }
  }

  .carousel-control {
    width: auto;
    background-image: none;
    background: none;
    filter: alpha(opacity=100);
    opacity: 1;
    font-size: 30px;
    @extend %text-shadow;

    .preview-container {
      position: relative;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0);
      line-height: 0;
      @include animate(background-color, 320ms);
    }
    .thumbnail-container {
      position: absolute;
      display: block;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background-color: #fff;
      top: 1px;
      @include animate(transform, 320ms);
      @include transform(scale(0));
    }

    &.right {
      .preview-container {
        padding-left: 80px;
        border-radius: 35.5px 0 0 35.5px;
      }
      .thumbnail-container {
        left: 1px;
      }
    }

    &.left {
      .preview-container {
        padding-right: 80px;
        border-radius: 0 35.5px 35px 0;
      }
      .thumbnail-container {
        right: 1px;
      }
    }

    &:hover {
      .preview-container {
        background-color: rgba(0, 0, 0, 0.8);
      }
      .thumbnail-container {
        @include transform(scale(1));
      }
    }
  }

  .entry-excerpt {
    &.image-caption {
      @include animate(transform, 320ms);
      @include transform(translateY(100%));
    }
  }

  &:hover {
    .entry-excerpt {
      &.image-caption {
        @include transform(translateY(0));
      }
    }

  }
}
