/*
  @package sunsettheme
*/
/*
	Imports
	------------------------------------------------
*/
@import "base/variables";
@import "base/mixins";
@import "base/fonticon";
@import "base/placeholders";
@import "base/wordpress";

/*
  Generic
  ----------------------
*/
body {
  font-family: $body-font;

  &.no-scroll {
    overflow-y: hidden;
  }
}
.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: $primary-color;
  @include animate(color, 320ms);
  &:hover,
  &:focus {
    text-decoration: none;
    color: $light-grey;
  }
}
.table {
  display: table;
  width: 100%;
  height: 100%;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
/*
  Header
  ----------------------
*/
.header-container {
  position: relative;
  height: 326px;
  @extend %text-shadow;

  @media (max-width: $xs) {
    height: 200px;
  }
}
.site-title {
  margin: 0;
  color: #fff;
  font-size: 80px;
}
.site-description {
  margin-top: 1em;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
.nav-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
  Navbar
  ----------------------
*/
.navbar-sunset {
  margin: 0;
  padding: 0 15px;
  min-height: auto;
  border: none;
  border-radius: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &.navbar-default {
    ul {
      float: none;
    }
    li {
      float: none;
      display: inline-block;
      &.active {
        a {
          opacity: 1;
          background-color: transparent;

          &:after {
            opacity: 1;
            @include transform(translateY(0));
          }
          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #fff;
            background-color: transparent;
          }
        }
      }
      &.open {
        a {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.7);

          &:after {
            display: none;
            opacity: 0;
            @include transform(translateY(10px));
          }
          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #fff;
            background-color: transparent;
            opacity: 1;

            &:after {
              opacity: 1;
              background-color: transparent;
              @include transform(translateY(0));
            }
          }
        }
      }
      a {
        position: relative;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0.7;
        letter-spacing: 0.05em;
        background-color: transparent;
        @include animate(opacity, 320ms);

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #fff;
          background-color: transparent;
          opacity: 1;

          &:after {
            opacity: 1;
            @include transform(translateY(0));
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 12px;
          height: 2px;
          background-color: #fff;
          opacity: 0;
          @include animate(all, 320ms);
          @include transform(translateY(10px));

        }
      }
    }
    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.7);
      > li {
        > a {
          color: #fff;
          opacity: 1;
          background-color: transparent;
        }
      }
    }
  }
}


/*
  Standard post
  ----------------------
*/
article {
  padding-bottom: 40px;
  padding-top: 40px;
}
h1 {
  font-size: 48px;
  font-weight: 200;

  a {
    color: $primary-color;
  }
  &.entry-title {
    padding: 0;
    line-height: 1.5em;

    &:before,
    &:after {
      content: '~';
      display: inline-block;
      position: relative;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
}

.entry-meta {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  color: $light-grey;

  a {
    font-weight: 400;
    color: inherit;
    &:hover,
    &:focus {
      color: $dark-grey;
    }
  }
}
.standard-featured-link {
  display: block;
  position: relative;
  &:hover,
  &:focus {
    .standard-featured {
      &:after {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
.standard-featured {
  height: 330px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .35);
    @include animate(background-color, 320ms);
  }
}

.entry-excerpt {
  margin: 30px 0 16px;

  p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: .02em;
  }
}

.button-container {
  margin-bottom: 30px;
}
.btn-sunset,
a.btn-sunset,
.entry-content a.btn-sunset {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 0;
  background-color: transparent;
  @include animate(all, 320ms);

  &:hover,
  &:focus {
    color: #fff;
    border-color: $dark-grey;
    background-color: $dark-grey;

  }
}

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid $lighter-grey;
  color: $light-grey;
  text-transform: uppercase;

  a {
    display: inline-block;
    padding: 0 4px;
    color: inherit;
    font-size: 12px;
    &:hover,
    &:focus {
      color: $dark-grey;
    }
  }

  .tags-list {
    a {
      padding: 0 4px;
    }
    .sunset-icon {
      margin-right: 10px;
    }
  }
  .comments-link {
    .sunset-icon {
      margin-left: 10px;
    }
  }
}

/*
  Image post format
  ----------------------
*/
.sunset-format-image {
  .entry-header {
    height: 550px;
    position: relative;
  }


  h1,
  .entry-meta,
  .entry-header {
    color: #fff;
    @extend %text-shadow;
    a {
      color: inherit;
    }
  }

  h1 {
    padding-top: 20px;
  }
  }

  .entry-excerpt {
    &.image-caption {
      position: absolute;
      margin: 0;
      // top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      @extend %background-gradient;
      p {
        margin: 40px 0;
        font-size: 14px;
      }
    }
}

/*
  Audio post format
  ----------------------
*/
.sunset-format-audio {
  h1 {
    font-size: 30px;
    &.entry-title {
      display: inline-block;
      margin-right: 20px;

      &:before,
      &:after {
        display: none;
      }
    }
  }
  .entry-meta {
    display: inline-block;
    margin-bottom: 0;
  }
  .entry-content {
    iframe {
      width: 100%;
      height: 166px;
    }
  }
}

/*
  Video post format
  ----------------------
*/
.sunset-format-video {
  header {
    h1 {
      &.entry-title {
        margin-top: 20px;
      }
    }
  }
}

/*
  Gallery post format
  ----------------------
*/
.sunset-format-gallery {
  header {
    position: relative;
    h1 {
      &.entry-title {
        margin-top: 20px;
      }
    }
  }
  .standard-featured {
    height: 500px;
    &:after {
      background-color: transparent;
    }
  }

  .carousel-control {
    width: auto;
    background-image: none;
    background: none;
    filter: alpha(opacity=100);
    opacity: 1;
    font-size: 30px;
    @extend %text-shadow;

    .preview-container {
      position: relative;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0);
      line-height: 0;
      @include animate(background-color, 320ms);
    }
    .thumbnail-container {
      position: absolute;
      display: block;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background-color: #fff;
      top: 1px;
      @include animate(transform, 320ms);
      @include transform(scale(0));
    }

    &.right {
      .preview-container {
        padding-left: 80px;
        border-radius: 35.5px 0 0 35.5px;
      }
      .thumbnail-container {
        left: 1px;
      }
    }

    &.left {
      .preview-container {
        padding-right: 80px;
        border-radius: 0 35.5px 35px 0;
      }
      .thumbnail-container {
        right: 1px;
      }
    }

    &:hover {
      .preview-container {
        background-color: rgba(0, 0, 0, 0.8);
      }
      .thumbnail-container {
        @include transform(scale(1));
      }
    }
  }

  .entry-excerpt {
    &.image-caption {
      @include animate(transform, 320ms);
      @include transform(translateY(100%));
    }
  }

  &:hover {
    .entry-excerpt {
      &.image-caption {
        @include transform(translateY(0));
      }
    }

  }
}

/*
  Quote post format
  ----------------------
*/
.sunset-format-quote {
  .quote-content {
    font-size: 42px;
    font-weight: 100;
    letter-spacing: 0.03em;
    line-height: 1.3em;

    &:before,
    &:after {
      display: inline-block;
      position: relative;
      color: #ccc;
    }

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  .quote-author {
    color: $light-grey;
    font-size: 12px;
    letter-spacing: 0.06em;
  }
}

/*
  Link post format
  ----------------------
*/
.sunset-format-link {
  h1 {
    &.entry-title {
      &:before,
      &:after {
        display: none;
      }
      a {
        display: block;
      }

      .link-icon {
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 1;
        padding-top: 10px;
      }
    }
  }
}

/*
  Aside post format
  ----------------------
*/
.sunset-format-aside {

  .aside-container {
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.075);
  }
  .aside-featured {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .entry-meta {
    margin-bottom: 5px;
  }
  .entry-excerpt {
    margin-top: 0;
    p {
      font-size: 15px;
    }
  }
  .entry-footer {
    padding-right: 10px;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
  h1 {
    &.entry-title {
      &:before,
      &:after {
      }

    }
  }
}

/*
  Footer
  -------------------
*/
.sunset-footer {
  background-color: #333;
  padding: 20px 0;
  margin-top: 40px;
  color: #fff;
}

/*
  Ajax loadig
  -------------------
*/
.container-load-previous {
  margin-top: 80px;
  margin-bottom: -40px;
}
.sunset-posts-container {
  padding-top: 40px;

  article {
    @include animate(all, 320ms);
    @include transform(translateY(100px));
    opacity: 0;

    &.reveal {
      @include transform(translateY(0));
      opacity: 1;
    }
  }
}
.btn-sunset-load {
  display: block;
  margin: 0 auto;
  width: 200px;
  color: #222;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.5;
  @include animate(opacity, 320ms);

  &:hover,
  &:focus,
  &.loading {
    opacity: 1;
    color: #222;
  }
  &.loading {
    cursor: default;
  }

  span {
    display: block;
  }

}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Single post */
.entry-content {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  a,
  .sunset-tooltip,
  .sunset-popover {
    cursor: pointer;
    color: #ff9d1d;

    &:hover,
    &:focus {
      color: #f56b09;
    }
  }
  .sunset-tooltip,
  .sunset-popover {
    border-bottom: 1px dotted #ff9d1d;
  }
  p {
    margin-bottom: 15px;
  }
  b,
  strong {
    font-weight: 500;
  }
}
.post-link-nav {
  padding: 10px 0;

  a {
    padding: 0 5px;
    color: #000;

    &:hover,
    &:focus {
      color: #ff9d1d;
    }
  }
}

/*
  Sharing section
  -------------------
*/
.sunset-shareThis {
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid #f1f1f1;
  clear: both;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: none;
      display: inline-block;
    }

    a {
      display: inline-block;
      margin: 0 5px;
      font-size: 20px;
      opacity: 0.75;
      color: #000;
      &:hover,
      &:focus {
        color: #000;
        opacity: 1;
      }
    }
  }
}


/*
  Comments section
  -------------------
*/
.comments-area {
  border-top: 4px solid #f1f1f1;
  margin-top: 40px;
}
.last-field {
  margin-bottom: 50px;
}
.comment-list {
	padding: 0;
	list-style: none;
}

.comment-body {
	padding-bottom: 0;
}

.children {
	background-color: #F5F5F5;
	padding-right: 20px;
	padding-left: 20px;
	list-style: none;
	margin-left: 60px;

	.comment-author {
		&:before {
			background-color: #fff;
		}
	}

}

.comment-author {

	position: relative;
	display: block;
	font-size: 18px;
	font-weight: 300;

	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 10px;
		bottom: 13px;
		left: 40px;
		right: 0;
		background-color: #f5f5f5;
		z-index: 1;
		border-radius: 4px;
	}

	& * {
		z-index: 1;
		position: relative;
	}

	b {
		font-weight: 400;
	}

	.avatar {
		border-radius: 50%;
		margin-right: 10px;
		border: 3px solid #fff;
	}

}

.comment-metadata {
	text-align: right;
	text-transform: uppercase;
	margin-top: -5px;
	font-size: 12px;

	a {
		color: #999;
	}

}

.comment-content {
	padding: 20px 0;
	font-size: 16px;
	font-weight: 300;
	border-bottom: 1px solid #E6E6E6;
	margin-left: 60px;
}

.reply {
	text-align: right;
	padding: 5px 0;
}

a.comment-reply-link {
	text-transform: uppercase;
	color: $orange;

		&:hover,
		&:focus {
			color: $orange-hover;
		}
}

.comment-respond {
	margin-top: 60px;
}

/*
  Sidebar section
  -------------------
*/
.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  cursor: e-resize;
}
.sunset-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  background-color: #1f1f1f;
  color: #fff;
  z-index: 9;
  @include animate(transform, 320ms);

  &.sidebar-closed {
    @include transform(translateX(100%));
  }

  a {
    color: #bababa;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
.sunset-sidebar-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}
.sidebar-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sidebar-close,
.sidebar-open {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $orange-hover;
  }
}
.sidebar-open {
  left: auto;
  right: 20px;
  top: 20px;
  font-size: 10px;
}

/* admin declared classess */
.sunset-username,
.sunset-description {
  font-weight: 100;
  color: #fff;
}
.sunset-username {
  font-size: 24px;
  margin-bottom: 10px;
}
.sunset-description {
  font-size: 13px;
  margin-bottom: 20px;
}
.image-container {
  overflow: hidden;
  text-align: center;
}
.profile-picture {
  width: 122px;
  height: 122px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sunset-icon-sisdebar {
  color: #fff;
  margin: 0 2px;
}
.sunset-icon-sisdebar--gplus {
  margin-left: 8px;
}
.sunset-icon-sisdebar:before {
  width: 22px;
  height: 22px;
  font-size: 22px;
}
.sunset-icon-button::before {
  margin-top: 3px;
  margin-left: -3px;
}


/*
  Widgets section
  -------------------
*/
.sunset-widget {
  margin: 30px 0 50px;
  padding: 0 20px;
  letter-spacing: 0.2px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0 10px;
    margin-bottom: 10px;
  }
}
h2.sunset-widget-title {
  margin-bottom: 20px;
  padding: 8px;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  background-color: #303030;
  border-radius: 20px;
  line-height: 1em;
}

// Tags cloud widget
.tagcloud {
  text-align: center;
  a {
    display: inline-block;
    padding: 1px 9px;
    border-radius: 10px;
    background-color: #7d7d7d;
    color: #eee;
  }
}

// Categories Widget
.cat-item {
	position: relative;

	a,
	span {
		display: block;
		line-height: 1em;
	}

	a {
		padding: 4px 0;
	}

	span {
		position: absolute;
		right: 0;
		top: 2px;
		font-size: 12px;
		font-weight: 600;
		padding: 2px 7px 5px;
		background-color: #7d7d7d;
		border-radius: 10px;
	}

}

// Comments Widget
.recentcomments {

	font-size: 10px;
	color: #ccc;

	a {
		text-transform: uppercase;
	}

	span {

		&,
		& a {

			display: block;
			color: #fff;
			font-size: 14px;
			padding-bottom: 4px;
			margin-bottom: 2px;
			border-bottom: 1px solid rgba(255,255,255,0.06);
			text-transform: none;

		}
	}

}

// Contact form
.sunset-contact-form {
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .form-group {
    position: relative;
    margin-bottom: 30px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $grey2;
    }

    .form-control-msg {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
    }

    &.has-error {
      &:before {
        background-color: #a94442;
      }
    }
  }

}
.sunset-form-control {
  padding: 8px 15px;
  resize: none;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none !important;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }

  &::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  &::-moz-placeholder {
    text-transform: uppercase;
  }
  &:-moz-placeholder {
    text-transform: uppercase;
  }
  &:-ms-placeholder {
    text-transform: uppercase;
  }

}
.btn-sunset-form {
  padding: 14px 60px;
  background-color: $grey;
  border-radius: 2px;
  border: none;
  font-size: 26px;
  color: #fff;
  font-weight: 100;
  @include animate(all, 320ms);

  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: #fff;
  }
}
.form-control-msg {
  display: none;
}

.has-error {
  .form-control-msg {
    display: block;
  }
}

.js-show-feedback {
  display: block;
}
