/*
  @package sunsettheme
*/
/*
	Variables
	------------------------------------------------
*/
$icon-font: 'sunset-icon';
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$black: #000;
$grey: #656565;
$grey2: #cbcbcb;
$light-grey: #898989;
$lighter-grey: #f1f1f1;
$dark-grey: #333;
$orange: #ff9d1d;
$orange-hover: #f56b08;

$primary-color: $black;

// media queries
$xs: 767px;
$sm: 991px;
